@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');


body{
    position: relative;
    display: block;
}

.row{
    display: flex;
}

#logowanie{
    text-align: right; 
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: center;
}

#zaloguj{
    margin-right:5px ;
    width: 90px;
    padding: 17px;
    color: white;
    background-color: mediumturquoise;
    position: relative;
    border: 3px solid mediumturquoise;
}

#zaloguj:hover{
    background-color: mediumturquoise;
    -webkit-text-fill-color: white;
    border: 3px inset rgb(84, 238, 233);
    transition-duration: 2s;
}

#rejestracja{
    margin-left: 5px;
    width: 90px;
    padding: 17px;
    -webkit-text-fill-color: mediumturquoise;
    position: relative;
    border: 3px solid mediumturquoise;
}

 #rejestracja:hover {
     border: 3px solid mediumturquoise;
     background-color: white;
     -webkit-text-fill-color: mediumturquoise;
      box-shadow: 5px 2px 2px mediumturquoise;
     transition-duration: 1s;
}
    

#naglowek{
    text-align: center;
    width: 80%;
    font-family: "Roboto", sans-serif;
    color:mediumturquoise;
	
}

#img{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pasek{
    background-color: mediumturquoise;
    margin-bottom: 20px;
    width: 80%;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#problem{
    display: fixed;
}


#trojkat{
    width: 0;
	height: 100%;
	border-left: 70px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 60px solid white;
    display: block;
    transform: translateX(-63%);
}

#trojkat2{
	border-left: 40px solid transparent;
	border-right: 70px solid transparent;
	border-top: 60px solid white;
    /* transform: translateX(235%);
     */
    position: absolute;
    right: -70px;
} 




ul{
    text-align:center;
    list-style: none;
    display: flex;
    
}

li{
    padding-left:15px;
    padding-right:15px;
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow: 1px 1px 2px white;
    font-family: monospace;   
}

a{
    color:white;
    text-decoration:none;
    
  }

  li:hover{
    text-shadow: 3px 3px 2px white;
    background-color: rgb(6, 255, 201);
    cursor: pointer;
}
#img{
    width: 90%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: center;
    justify-content: center;

}

#img2{
    width: 80%;
    height: 60%;
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    background-color: center;
    justify-content: center;
}
  #block{
    width: 900px;
    height: 300px;
    background-color: black;
    opacity: 0.5;
    position: relative;
    border: 5px double rgb(6, 255, 201);
    transform: translateX(59%) translateY(100%);
  }

  #tekst{
    color: azure;
    position: inherit;
    width: 800px;
    height: 300px;
    transform: translateX(70%) translateY(1%);
  }

  #tekst2{
    font-size: 25px;
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 515;
  }

  #grupy{
   width:350px;
   height: 400px;
   border-radius: 10%;
   background-color: rgb(189, 245, 244);
   transform: translateX(70%) translateY(20%);
   display: block;
   text-align: center;
  }

  #sprzent{
    width:350px;
    height: 400px;
    border-radius: 10%;
    background-color: ghostwhite;
    transform: translateX(280%) translateY(-80%);
    display: block;
    text-align: center;
  }

  #wsparcie{
    width:350px;
    height: 400px;
    border-radius: 10%;
    background-color: ghostwhite;
    transform: translateX(0%) translateY(-60%);
    display: block;
    text-align: center;
  }

  #trener{
    width:350px;
    height: 400px;
    border-radius: 10%;
    background-color: rgb(189, 245, 244);
    transform: translateX(180%) translateY(-160%);
    display: block;
    text-align: center;
  }

  #relaks{
    width:350px;
    height: 400px;
    border-radius: 10%;
    background-color:ghostwhite;
    transform: translateX(350%) translateY(-260%);
    display: block;
    text-align: center;
  }

  #tekstg{
    font-size: 22px;
    font-family: "Anek Devanagari", sans-serif;
  }

  #teksts{
    font-size: 22px;
    font-family: "Anek Devanagari", sans-serif;
  }

  #tekstw{
    font-size: 22px;
    font-family: "Anek Devanagari", sans-serif;
  }

  #tekstt{
    font-size: 22px;
    font-family: "Anek Devanagari", sans-serif;
  }

  #tekstr{
    font-size: 22px;
    font-family: "Anek Devanagari", sans-serif;
  }