body{
    position: relative;
    display: block;
}

#naglowek{
    width: 80%;
}
.row{
    display: flex;
}
#logowanie{
    text-align: right; 
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: center;
}

#zaloguj{
    margin-right:5px ;
    width: 90px;
    padding: 17px;
    color: white;
    background-color: mediumturquoise;
    position: relative;
    border: 3px solid mediumturquoise;
}

#zaloguj:hover{
    background-color: mediumturquoise;
    -webkit-text-fill-color: white;
    border: 3px inset rgb(84, 238, 233);
    transition-duration: 2s;
}

#rejestracja{
    margin-left: 5px;
    width: 90px;
    padding: 17px;
    -webkit-text-fill-color: mediumturquoise;
    position: relative;
    border: 3px solid mediumturquoise;
}

 #rejestracja:hover {
     border: 3px solid mediumturquoise;
     background-color: white;
     -webkit-text-fill-color: mediumturquoise;
      box-shadow: 5px 2px 2px mediumturquoise;
     transition-duration: 1s;
}
    

#naglowek{
    text-align: center;
    font-family: sans-serif ;
    color:rgb(147, 184, 187);
    text-shadow: 7px 2px 2px mediumturquoise;
}

#img{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pasek{
    background-color: mediumturquoise;
    margin-bottom: 20px;
    width: 80%;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#problem{
    display: fixed;
}


#trojkat{
    width: 0;
	height: 100%;
	border-left: 70px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 60px solid white;
    display: block;
    transform: translateX(-63%);
}

#trojkat2{
	border-left: 40px solid transparent;
	border-right: 70px solid transparent;
	border-top: 60px solid white;
    /* transform: translateX(235%);
     */
    position: absolute;
    right: -70px;
} 


#block{
    justify-content: center;
    position: relative ;
    width: 600px;
    height: 500px;
    border-radius: 10%;
    background-color: white;
    border: 5px outset gray;
    left:400px;
    top: 100px;
    padding: 100px;

}

ul{
    text-align:center;
    list-style: none;
    display: flex;
    
}

li{
    padding-left:15px;
    padding-right:15px;
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow: 1px 1px 2px white;
    font-family: monospace;   
}

a{
    color:white;
    text-decoration:none;
    
  }

  li:hover{
    text-shadow: 3px 3px 2px white;
    background-color: rgb(6, 255, 201);
    cursor: pointer;
}
#img{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(./img/Image20240420151433.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(226, 43, 43);
}
  